---
- name: Reload gunicorn
  ansible.builtin.systemd:
    name: "gunicorn-{{ env_name }}"
    state: reloaded
  become: true
  listen: "Reload web server"

- name: Reload nginx
  ansible.builtin.systemd:
    name: nginx
    state: reloaded
  become: true
  listen: "Reload web server"

- name: Run excel2db management command
  ansible.builtin.shell: |
    set -o pipefail
    echo "yes" | ./excel2db.sh {{ hostvars['localhost'].env_vars.GITHUB_TOKEN | default('') }}
  args:
    chdir: "{{ site_path }}/scripts/"
    executable: /bin/bash
  become: true
  become_user: "{{ webapp_user }}"
  register: projectsetup_excel2db_output
  changed_when: "'Database is not empty!' not in projectsetup_excel2db_output.stdout"
  listen: "Run excel2db management command"

- name: Enable and restart Discord bot service
  ansible.builtin.systemd:
    name: "discord-bot-{{ env_name }}"
    state: restarted
    daemon_reload: true
    enabled: true
  become: true
  listen: "Enable and restart Discord bot"
