__pycache__
*.pyc
.pytest_cache
.vscode
*.code-workspace
.scannerwork
docs/_build
db.sqlite3
*.log
.coverage
coverage.xml
rewardsweb/.env
rewardsweb/*.log
rewardsweb/fixtures/*.csv
rewardsweb/fixtures/*.xlsx
rewardsweb/fixtures/*.pkl
rewardsweb/.coverage
rewardsweb/core/static/css/tailwindcss
rewardsweb/rewardsbot/.env
rewardsweb/rewardsbot/*.log
