__pycache__
*.pyc
.pytest_cache
.vscode
*.code-workspace
.scannerwork
docs/_build
db.sqlite3
rewardsweb/.env
rewardsweb/fixtures/*.csv
rewardsweb/fixtures/*.xlsx
rewardsweb/.coverage
rewardsweb/core/static/css/tailwindcss
rewardsbot/.env
rewardsbot/*.log