__pycache__
*.pyc
.pytest_cache
.vscode
*.code-workspace
.DS_Store
.scannerwork
docs/_build
db.sqlite3
*.log
.coverage
coverage.xml
rewardsweb/.env
rewardsweb/.env.testing
rewardsweb/.env.production
rewardsweb/.env.ci
rewardsweb/*.log
rewardsweb/fixtures/*.csv
rewardsweb/fixtures/*.xlsx
rewardsweb/fixtures/*.pkl
rewardsweb/fixtures/*.pem
rewardsweb/.coverage
rewardsweb/core/static/css/tailwindcss
rewardsweb/core/coverage
rewardsweb/core/node_modules
rewardsweb/rewardsbot/.env
rewardsweb/rewardsbot/*.log
rewardsweb/frontend/coverage
rewardsweb/contract/.env
rewardsweb/contract/coverage.xml
deploy/.env.*
deploy/.ansible/
