[run]
branch = True
omit =
    */tests/*
    */migrations/*
    */asgi.py
    */wsgi.py
    */manage.py
    */settings/production.py
    */settings/testing.py

[report]
show_missing = True
skip_covered = False
fail_under = 92
exclude_lines =
    pragma: no cover

[html]
directory = htmlcov
