{% extends "account/base.html" %}

{% block page_title %}Check Your Inbox{% endblock %}

{% block inner_content %}
<div class="space-y-6 fade-in text-center">
  <div class="p-4 rounded-lg bg-info/10 text-info inline-block mb-4">
    <i class="fas fa-paper-plane text-3xl"></i>
  </div>
  <p class="text-lg text-base-content/70 mb-6">
    We've sent a password reset link to your email address.
  </p>
  
  <div class="bg-base-100 p-6 rounded-xl border-2 border-base-300 max-w-md mx-auto">
    <p class="text-base-content/80 mb-4">
      Please check your inbox and click the link to reset your password.
    </p>
    <a href="{% url 'index' %}" class="btn btn-outline w-full">
      <i class="fas fa-home mr-2"></i>
      Return to Home
    </a>
  </div>
</div>
{% endblock %}