name: molecule

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  molecule:
    name: Run Molecule tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: deploy

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Cache Molecule + Galaxy
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/ansible-compat
            ~/.ansible/collections
            ~/.ansible/roles
          key: galaxy-${{ hashFiles('deploy/collections/requirements.yml') }}

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('deploy/**/requirements*.txt') }}

      - name: Install Molecule + Docker plugin
        run: |
          pip install --upgrade pip
          pip install molecule ansible ansible-compat
          pip install "molecule-plugins[docker]"

      - name: Generate temporary SSH key for Molecule
        run: |
          mkdir -p ~/.ssh
          ssh-keygen -t rsa -b 4096 -f ~/.ssh/id_rwds_rsa -N ""

      - name: Run Molecule tests
        env:
          ANSIBLE_DEPRECATION_WARNINGS: "False"
        run: |
          PATH="$HOME/.local/bin:/snap/bin:$PATH"
          molecule test --scenario-name ci
